body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.image-container {
  width: 490px;
  height: 270px;
  border: 2px solid black;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 150px;
  background-image: url('0001.jpg');
}
body{
  background: #1E1E1E;
}
.box-container {
  width: 86%;
  height: 100px;
  border: 2px solid #ccc;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 2);
  position: absolute;
  top: 0px;
  left: 200px;
  border-radius: 0px 0px 0px 15px;
  background-color: #200000;
}
.logo {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 45px;
  background-color: #aaaa;
}
a {
  text-decoration: none;
}
.home-button {
  font-size: 16px;
  padding: 35px 50px;
  border: none;
  border-radius: 30px;
  background-color: #500000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 7px;
  left: 300px;
  user-select:none;
}
.home-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.home-button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}
.model1-button {
  user-select:none;
  font-size: 16px;
  padding: 35px 50px;
  border: none;
  border-radius: 30px;
  background-color: #500000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 7px;
  left: 550px;
}
.model1-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.model1-button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}
.model2-button {
  user-select:none;
  font-size: 16px;
  padding: 35px 50px;
  border: none;
  border-radius: 30px;
  background-color: #500000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 7px;
  left: 800px;
}
.model2-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.model2-button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}
.model3-button {
  user-select:none;
  font-size: 16px;
  padding: 35px 50px;
  border: none;
  border-radius: 30px;
  background-color: #500000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 7px;
  left: 1050px;
}
.model3-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.model3-button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}
.showcase-button {
  user-select:none;
  font-size: 16px;
  padding: 35px 50px;
  border: none;
  border-radius: 30px;
  background-color: #500000;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 7px;
  left: 1300px;
}
.showcase-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.showcase-button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}
.circle {
  width: 90px; 
  height: 90px;
  border-radius: 50%; 
  overflow: hidden; 
  background-image: url('avatar.png'); 
  background-size: cover; 
  background-position: center; 
  position: absolute;
  top: 6px;
  left: 46px;
}	
.yt1 {
  position: absolute;
  top: 150px;
  right: 100px;
}  
.yt2 {
  position: absolute;
  top: 450px;
  right: 100px;
}
.yt3 {
  position: absolute;
  top: 450px;
  right: 900px;
}
.text-container {
  width: 480px;
  height: 270px;
  background-color: #121212;
  border-radius: 10px;
  border-color: #121222;
  border-style: solid;
  position: absolute;
  top: 150px;
  right: 892px;
  border-width: 10px;
}
.text {
  color: #ffffff;
  font-family: "Garamond", Garamond, serif;
  position: absolute;
  font-size: 20px;
  text-align: justify;
}