body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.image-container {
  width: 490px;
  height: 270px;
  border: 2px solid black;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 150px;
}